@model DonemProjesi.Models.Basvuru

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Basvuru</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjeSahibimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjeSahibimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KabulEdildimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KabulEdildimi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BasvuruID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
