@model DonemProjesi.Models.Ogrenci

@{
    ViewBag.Title = "Details";
}

<div class="create">
    <div class="content-create">

        <h2>Profilim</h2>

        <div>
            <dl class="dl-horizontal">
                <dt class="dt">
                    @Html.DisplayNameFor(model => model.OgrenciNumarasi)
                </dt>

                <dd class="dt">
                    @Html.DisplayFor(model => model.OgrenciNumarasi)
                </dd>

                <dt class="dt">
                    @Html.DisplayNameFor(model => model.Ad)
                </dt>

                <dd class="dt">
                    @Html.DisplayFor(model => model.Ad)
                </dd>

                <dt class="dt">
                    @Html.DisplayNameFor(model => model.Soyad)
                </dt>

                <dd class="dt">
                    @Html.DisplayFor(model => model.Soyad)
                </dd>

                <dt class="dt">
                    @Html.DisplayNameFor(model => model.Bolum)
                </dt>

                <dd class="dt">
                    @Html.DisplayFor(model => model.Bolum)
                </dd>

                <dt class="dt">
                    @Html.DisplayNameFor(model => model.Sinif)
                </dt>

                <dd class="dt">
                    @Html.DisplayFor(model => model.Sinif)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Yetenekler)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Yetenekler)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Sifre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Sifre)
                </dd>

            </dl>
        </div>
        @*
            <p>
                @Html.ActionLink("Profili Düzenle", "Edit", new { id = Model.OgrenciID })

            </p>
        *@

        <button type="button" class="login-button">@Html.ActionLink("Proje Oluştur","Create","Proje")</button>

    </div>
</div>

