@model DonemProjesi.Models.Ogrenci

@{
    ViewBag.Title = "Login";
}



<div class="create login">
    <div class="content-create">
        <h2 class="login-h2">Giriş Yap</h2>
        @ViewBag.Mesaj

        @using (Html.BeginForm("Login", "Security", FormMethod.Post))
        {

            @Html.LabelFor(m => m.OgrenciNumarasi)
            <div>
                @Html.TextBoxFor(m => m.OgrenciNumarasi, new { @class = "form-control login-input", placeholder = "Numaranız" })
            </div>

            @Html.LabelFor(m => m.Sifre)
            <div>
                @Html.PasswordFor(m => m.Sifre, new { @class = "form-control login-input", placeholder = "Şifreniz" })
            </div>

            <button class="button login-button" type="submit">Giriş</button>
        }
    </div>
</div>