@model DonemProjesi.Models.Proje

@{
    ViewBag.Title = "Details";
}


<div class="create">
    <div class="content-create">

        <h2>Proje Detayı</h2>

        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ProjeAdi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProjeAdi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Aciklama)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Aciklama)
                </dd>

                <dt>
                    İletişim
                </dt>

                <dd>
                    <a href="https://web.whatsapp.com/" target="_blank">Whatsapp</a>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EklenmeTarihi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EklenmeTarihi)
                </dd>

            </dl>
        </div>

        @*
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ProjeID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        *@


    </div>
</div>